@import "compass/css3";
@import "variables.scss";
.download_admin{
	background-color: $light-gray;
	height: 100%;
	margin: 0;


}
.admin_wrap {
	padding-top: 6em;
	width: 80%;
	margin: 0 auto;

}

.admin_home{
	text-align: center;
	h1{
		//text-align: left;
		font-size: 2em;
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			margin:0;
			margin-bottom:.5em;
			list-style: none;
			a{
				color: $dark-gray;
				text-decoration: none;
				&:hover{
					color: $yellow;
				}
			}

		}
	}
}

html {
	height: 100%;
	color: $dark-gray;
	font-size: 1.3em;
	font-family: "proxima-nova",sans-serif;
	@media (max-width: $papa-bear){
		font-size: 1em;
	}
	@media (max-width: $mama-bear){
		font-size: .8em;
	}
	@media (max-width: $baby-bear){
		font-size: .7em;
	}
	background-color: $dark-gray;
	height: 100%;
}

img {
	max-width: 100%;
	
	}

	//Header

header {
	padding-top: .5em;
	padding-bottom: 1.5em;
	background-color: $dark-gray;
	width: 100%;
	height: 1.8em;
	display: block;
	position: fixed;
	@include box-shadow(black 2px 2px 10px);
	.header_stuff{
		width:80%;
		margin: 0 auto;
		@media (max-width: $baby-bear){
			width: 100%;
		}
	}
	@media screen and (max-width: $papa-bear){
		height: 4em;
	}
}

#logo {
	width: 1.25em;
	float: left;
	display: block;
	@media screen and (max-width: $papa-bear){
		float: none;
		display: block;
		margin: 0 auto;
	}
}

nav{
	float: right;
	margin-top: 1em;
	@media screen and (max-width: $papa-bear){
		float: none;
		width: 80%;
		text-align: center;
		margin: 0 auto;
		padding-top: .5em;
			
		}
	@media (max-width: $baby-bear){
		  font-size: .8em;
		}
	li{
		display: inline-block;
		padding-left: 1em;
		text-transform: uppercase;
		
		a {
			font-weight: 100;
			color: #fff;
			text-decoration: none;
					
		}
	}
}

#name{
	float: left;
	font-size: 1em;
	font-weight: 700;
	margin-left: 2em;
	margin-top: 1em;
	color: #fff;
	font-style: italic;
	@media screen and (max-width: $papa-bear){
		display: none;
	}
}


//Typography

h1 {
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 700;
	
	margin-bottom: .25em;
	line-height: 1.2em;
}

h2 {
	text-align: center;
	font-size: 2em;
	line-height: 1.2em;
}

h3{
	font-size: 1.5em;
	font-weight: 100;
	
}

h4{
	font-size: 1.2em;
}

strong {
	font-weight: 700;
	
}