@import "compass/reset";
@import "compass/css3";
@import "gallery.scss";
@import "gallery.theme.scss";

$dark-gray: #2e2e2e;
$yellow: #ffe10e;
$blue: #2caaff;
$margin: 2em;
$papa-bear: 1200px;
$mama-bear: 600px;
$baby-bear: 400px;


//Big Picture Stuff
html {
	
	color: $dark-gray;
	font-size: 1.3em;
	font-family: "proxima-nova",sans-serif;
}

img {
	max-width: 100%;
	
	}

//Layout

#wrapper {
	margin: 0 auto;
	height: 100%;	
}

//Header

header {
	padding-top: .5em;
	padding-bottom: 1.5em;
	background-color: $dark-gray;
	width: 100%;
	height: 1.8em;
	display: block;
	position: fixed;
	
	@include box-shadow(black 2px 2px 10px);
	.header_stuff{
		width:80%;
		margin: 0 auto;
		
	}
	@media screen and (max-width: $papa-bear){
		height: 3em;
	}
}

#logo {
	width: 1.25em;
	float: left;
	display: block;
	@media screen and (max-width: $papa-bear){
		float: none;
		display: block;
		margin: 0 auto;
	}
}

nav{
	float: right;
	margin-top: 1em;
	@media screen and (max-width: $papa-bear){
		float: none;
		width: 80%;
		text-align: center;
		margin: 0 auto;
	}
	li{
		display: inline-block;
		padding-left: 1em;
		
		font-style: italic;
		text-transform: uppercase;
		
		a {
			font-weight: 100;
			color: #fff;
			text-decoration: none;
			border-bottom: 2px #fff solid;
		}
	}
}

#name{
	float: left;
	font-size: 1em;
	font-weight: 700;
	margin-left: 2em;
	margin-top: 1em;
	color: #fff;
	font-style: italic;
	@media screen and (max-width: $papa-bear){
		display: none;
	}
}


//Typography

h1 {
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 700;
	
	margin-bottom: .25em;
	line-height: 1.2em;
}

h2 {
	text-align: center;
	font-size: 2em;
	line-height: 1.2em;
}

h3{
	font-size: 1.5em;
	font-weight: 100;
	
}

h4{
	font-size: 1.2em;
}

strong {
	font-weight: 700;
	
}



//Hero Image

#hero{
	@include box-shadow(black 2px 2px 10px inset);
	background: url('../images/image-1.jpeg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 12em;
	height: 18em;
	h2{
		font-size: 2.5em;
		font-weight: 700;
		text-align: left;
		color: #fff;
		width: 60%;
		margin-left: 10%;
		text-shadow: 1px 1px 10px $dark-gray;
		
	}
	
	img{
		position: relative;
		margin-top: 3em;
		z-index: -1;
		width: 100%;
		height: auto;
		vertical-align: top;
	}
}

.blue{
	color: $blue;
}

.yellow{
	color: $yellow;
}

//Listen Section

section{
	margin-top: 2em;
	padding-top: 2em;
	padding-bottom: 4em;
	
	
		
}

hr{
	height: 11px;
	background-color: #e0e0e0;
	//@include box-shadow($dark-gray 1px 2px 10px);
	border: none;
}

.section_title{
		
		text-transform: uppercase;
		border: 4px $dark-gray solid;
		font-weight: 100;
		width: 20%;
		margin: 0 auto 2em auto;
		font-weight: 700;
		font-style: italic;
	
}

#listen{
	//@include box-shadow(black 8px 0px 20px);
	margin-top: -10px;
}

#stream{
	width: 80%;
	margin: 1em auto 0 auto;
	
	
}
//Shop

#shop{
	background-color: $yellow;
	border-top: 12px #e0e0e0 solid;
	border-bottom: 12px #e0e0e0 solid;
}

#products{
	margin-left: 10%;
}

.shop_product{
	width: 40%;
	padding: 1em;
	display: inline-block;

}

.product_img{
	width: 60%;
	float: left;
	@include box-shadow($dark-gray 2px 2px 10px);

}

.product_info{
	color: $dark-gray;
	width: 30%;
	float: left;
	padding-left: 1em;

	a{
		color: $dark-gray;
	}
}

.product_button{
	margin-top: 1em;
	background-color: $dark-gray;
	padding-left: 35%;
	padding-top: .75em;
	padding-bottom: .75em;
	@include box-shadow(black 2px 2px 10px);
	a{
		
		text-align: center;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
	}
}

//download section
#download{
	background-color: $yellow;
	border-top: 12px #e0e0e0 solid;
	border-bottom: 12px #e0e0e0 solid;
	text-align: center;
	.download_button{
		width: 10%;
		margin: 2em auto;
		background-color: $dark-gray;
		padding: 1em;
		@include box-shadow(black 2px 2px 10px);
		a{
			
			text-align: center;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;

		}
	}
}

//Super Label Forms
.superlabel {
	position: relative;
}

#admin-login{
	display: none;
}

#dcode{
	width: 33%;
	height: 1.75em;
	box-shadow: 3px;
	margin-top: 1em;
}

input {
	font-weight: bold;
	font-size: 1em;
	text-transform: uppercase;
	color: #808080;
	padding-left: .5em;
}

#submit {
	background-color: #474747;
	color: #fff;
	border: none;
	padding: .5em;
	width: 10em;
	border-radius: 6px;
	margin-top: 1em;
	&:hover{
		background-color: #FEE500;
		color: #000;
	}
}

#submit:hover {
	
}