@import "compass/reset";
@import "compass/css3";
@import "gallery.scss";
@import "gallery.theme.scss";
@import "variables.scss";

//Big Picture Stuff
html {
	height: 100%;
	color: $dark-gray;
	font-size: 1.3em;
	font-family: "proxima-nova",sans-serif;
	@media (max-width: $papa-bear){
		font-size: 1em;
	}
	@media (max-width: $mama-bear){
		font-size: .8em;
	}
	@media (max-width: $baby-bear){
		font-size: .7em;
	}
	background-color: $dark-gray;
	height: 100%;
}

img {
	max-width: 100%;
	
	}

//Layout

#wrapper {
	margin: 0 auto;
	height: 100%;	
	background-color: rgba(255,255,255,0.5);
}

//Header

header {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: $dark-gray;
	width: 100%;
	height: auto;
	display: block;
	position: fixed;
	top: 0;
	z-index: 5;
	@include box-shadow(black 2px 2px 10px);
	.header_stuff{
		width:80%;
		margin: 0 auto;
		@media (max-width: $baby-bear){
			width: 100%;
		}
	}
	@media screen and (max-width: $papa-bear){
		height: auto;
	}
}

#logo {
	width: 1.25em;
	float: left;
	display: block;
	@media screen and (max-width: $papa-bear){
		float: none;
		display: block;
		margin: 0 auto;
	}
}

nav{
	float: right;
	margin-top: 1em;
	@media screen and (max-width: $papa-bear){
		float: none;
		width: 80%;
		text-align: center;
		margin: 0 auto;
		padding-top: .5em;
			
		}
	@media (max-width: $baby-bear){
		  font-size: .8em;
		}
	li{
		display: inline-block;
		padding-left: 1em;
		text-transform: uppercase;
		
		a {
			font-weight: 100;
			color: #fff;
			text-decoration: none;
					
		}
	}
}

#name{
	position: relative;
	top: -.25em;
	float: left;
	font-size: 1em;
	font-weight: 700;
	margin-left: 2em;
	margin-top: 1em;
	color: #fff;
	font-style: italic;
	@media screen and (max-width: $papa-bear){
		display: none;
	}
}


//Typography

h1 {
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 700;
	
	margin-bottom: .25em;
	line-height: 1.2em;
}

h2 {
	text-align: center;
	font-size: 2em;
	line-height: 1.2em;
}

h3{
	font-size: 1.5em;
	font-weight: 100;
	
}

h4{
	font-size: 1.2em;
}

strong {
	font-weight: 700;
	
}



//Hero Image

#hero{
	@include box-shadow(black 2px 2px 10px inset);
	background: url('../images/image-1.jpeg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 12em;
	height: 18em;
	h2{
		font-size: 2.5em;
		font-weight: 700;
		text-align: left;
		color: #fff;
		width: 60%;
		margin-left: 10%;
		text-shadow: 1px 1px 10px $dark-gray;
		
	}
	#coming_soon{
		text-align: center;
		width: 100%;
		margin: 0 auto;
	}
	
	img{
		position: relative;
		margin-top: 3em;
		z-index: -1;
		width: 100%;
		height: auto;
		vertical-align: top;
	}
}

.blue{
	color: $blue;
}

.yellow{
	color: $yellow;
}

//Listen Section

section{
	margin-top: 0em;
	padding-top: 2em;
	padding-bottom: 4em;
	
	
		
}

hr{
	height: 11px;
	background-color: #e0e0e0;
	//@include box-shadow($dark-gray 1px 2px 10px);
	border: none;
}

.section_title{
		
		text-transform: uppercase;
		//border: 4px #fff solid;
		font-weight: 100;
		width: 20%;
		margin: 0 auto 2em auto;
		font-weight: 700;
		font-style: italic;
		@media (max-width: $mama-bear){
			width: 30%;
		}
		@media (max-width: $baby-bear){
			width: 45%;
		}
	
}

#listen{
	//@include box-shadow(black 8px 0px 20px);
	margin-top: -10px;
	background-color: #fff;
	border-top: 12px #e0e0e0 solid;
}

#stream{
	width: 80%;
	margin: 1em auto 0 auto;
	@media (max-width: $mama-bear){
		width: 90%;
	}
	@media (max-width: $baby-bear){
		width: 100%;
	}
	
	
}
//Shop

#shop{
	background-color: $yellow;
	border-top: 12px #e0e0e0 solid;
	border-bottom: 12px #e0e0e0 solid;
}

#products{
	margin-left: 10%;
	@media (max-width: $mama-bear){
		margin-left: 5%;
	}
	@media (max-width: $baby-bear){
	  width: 100%;
	  margin-left: 0;
	}
}

.shop_product{
	width: 40%;
	padding: 1em;
	display: inline-block;
	
	@media (max-width: $mama-bear){
		display: block;
		width: 80%;
		float: none;
		clear: both;
	}
	@media (max-width: $baby-bear){
	  width: 90%;
	  padding: 1em;
	  margin: 0 auto;
	}

}

.product_img{
	width: 60%;
	float: left;
	@include box-shadow($dark-gray 2px 2px 10px);
	@media (max-width: $mama-bear){
		float: none;
		display: inline-block;
	}
	@media (max-width: $baby-bear){
	  width: 90%;
	  display: block;
	  margin: 0 auto;
	}

}

.product_info{
	color: $dark-gray;
	width: 30%;
	float: left;
	padding-left: 1em;

	a{
		color: $dark-gray;
	}
	@media (max-width: $mama-bear){
		float: right;
		width: 35%;

	}
	@media (max-width: $baby-bear){
	  width: 90%;
	  float: none;
	  display: block;
	  margin: 2em auto;
	  padding-left: 0;
	}
	
	li{
		@media (max-width: $baby-bear){
			display: inline-block;
			font-weight: 700;
			&.product_button{
				display: block;
				margin-top: 1em;
			}
		}
	}
}

.product_button{
	margin-top: 1em;
	background-color: $dark-gray;
	text-align: center;
	padding-top: .75em;
	padding-bottom: .75em;
	@include box-shadow(black 2px 2px 10px);
	@media (max-width: $baby-bear){
		width: 30%;
		margin: 0 auto;
	}
	a{
		
		text-align: center;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
	}
}

//download section
#download{
	color: $dark-gray;
	background-color: $yellow;
	border-top: 12px $light-gray solid;
	border-bottom: 12px $light-gray solid;
	text-align: center;
	.download_button{
		width: 10%;
		margin: 2em auto;
		background-color: $dark-gray;
		padding: 1em;
		
		text-align: center;
		@include box-shadow(black 2px 2px 10px);
		@media (max-width: $baby-bear){
			width: 20%;
			margin: 0 auto;
			display: block;
			margin-top: 1em;
		}
		a{
			
			text-align: center;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;

		}
	}
}

//download page styles

#download_page{
	background-image: url('../images/image-blur.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment:fixed;
	height: 100%;
	#wrapper{
		background-color: rgba(255,255,255,0.5);
		//padding-bottom: 3em;
		@include box-shadow(black 2px 2px 10px);
		h3{
			//font-weight: 700;
			a{
				color: $dark-gray;
			}
		}
	}
}

#dload_content{
	color: white;
	position: relative;
	z-index: 1;
	top: 6em;
	border-top: solid 12px $light-gray;
	width: 60%;
	margin: 0 auto 12em auto;
	text-align: center;
	background-color: $dark-gray;
	padding: 4em 2em;
	@include box-shadow(rgba(50, 50, 50,.5) 0 0 10px);
	h2{
		text-transform: uppercase;
		font-weight: 700;
		font-style: italic;
	}
	h3{
		margin-bottom: .5em;
	}
	p.mobile-instuctions{
		font-size: .8em;
		
	}
	@media (max-width: $papa-bear){
		//padding-top: 8em;
	}
	@media (max-width: $mama-bear){
		width: 80%;
		
	}
	@media (max-width: $baby-bear){
		//width: 90%;
		padding-top: 2em;
		input.download_button {
			width: 40%;
		}
		text-align: left;
		h3{
			font-size: 1.8em;
			line-height: 1.2;
			margin-top: .3em;
			
		}
	}
	
}

//Footer
footer{
	position: relative;
	padding-top: 3em;
	padding-bottom: 3em;
	padding-left: 10%;
	background-color: $dark-gray;
	#copyright{
		float: left;
		display: inline-block;
		margin-bottom: 3em;
		color: #fff;
		

	}
	#social{
		position: absolute;
		right: 10%;
		top: 2.5em;
		ul{
			li{
				display: inline-block;
				width: 2em;
				margin-left: 1em;
				vertical-align: center;
			}
		}
	}
}

footer#download_footer{
	
	border-top: 12px $light-gray solid;
	@media (max-width: $papa-bear){
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
	}
}

//Super Label Forms
.superlabel {
	position: relative;
}

#admin-login{
	display: none;
}

#dcode{
	width: 33%;
	height: 1.75em;
	box-shadow: 3px;
	margin-top: 1em;
}

input {
	font-weight: bold;
	font-size: 1em;
	color: #808080;
	display: block;
	width: 50%;
	margin: 0 auto;
	padding-left: .5em;
}

input#submit {
	display: block;
	width: 30%;
	margin: 2em auto;
	background-color: $yellow;
	padding: 1em;
	text-align: center;
	text-align: center;
	color: $dark-gray;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	&:hover{
		background-color: $light-gray;
	}
	@include box-shadow(rgba(50, 50, 50,.5) 0 0 10px);
		@media (max-width: $baby-bear){
			width: 40%;
			margin: 0 auto;
			display: block;
			margin-top: 1em;
		}
			}
#submit:hover {
	
}

input.download_button {
display: block;
width: 30%;
margin: 2em auto;
background-color: $yellow;
padding: 1em;
text-align: center;
text-align: center;
color: $dark-gray;
text-decoration: none;
text-transform: uppercase;
border: none;
@include box-shadow(rgba(50, 50, 50,.5) 0 0 10px);
	@media (max-width: $baby-bear){
		width: 20%;
		margin: 0 auto;
		display: block;
		margin-top: 1em;
	}
		}