@import "compass/reset";

html {
	background-color: #000;
	color: #fff;
	font-size: 1.3em;
	font-family: "ff-meta-serif-web-pro",serif;
	
		
}

body {

	
	
	}
#wrapper {
	width: 75%;
	margin: 0 auto;
	height: 100%;
	
}

header {
	margin-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

#logo {
	width: 3em;
	margin: 0 auto 0 auto;
	display: block;
}

h1 {
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "proxima-nova",sans-serif;
	margin-bottom: .25em;
	
	
}
.superlabel {
	position: relative;
}

#admin-login{
	display: none;
}

#dcode{
	width: 33%;
	height: 1.75em;
	box-shadow: 3px;
	margin-top: 1em;
}

input {
	font-weight: bold;
	font-size: 1em;
	text-transform: uppercase;
	color: #808080;
	padding-left: .5em;
}

#submit {
	background-color: #474747;
	color: #fff;
	border: none;
	padding: .5em;
	width: 10em;
	border-radius: 6px;
	margin-top: 1em;
	&:hover{
		background-color: #FEE500;
		color: #000;
	}
}

#submit:hover {
	
}