html{
	background-color: #3B3B3B;
	color: #fff;
}
#wrapper {
	width: 80%;
	margin: 0 auto;
	
}

h1 {
	text-align: center;
	font-size: 4em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: georgia, serif;
	font-style: italic;
}