/* line 17, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 5, scss/style.scss */
html {
  background-image: url(http://subtlepatterns.com/patterns/grey_wash_wall.png);
  color: #fff;
  font-size: 1.3em;
  font-family: "ff-meta-serif-web-pro",serif; }

/* line 12, scss/style.scss */
img {
  max-width: 100%; }

/* line 19, scss/style.scss */
#wrapper {
  margin: 0 auto;
  height: 100%; }

/* line 26, scss/style.scss */
header {
  padding-top: .5em;
  padding-bottom: 1.5em;
  background-color: #2e2e2e;
  width: 100%;
  height: 1.8em;
  display: block;
  position: fixed;
  -webkit-box-shadow: black 2px 2px 10px;
  -moz-box-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px; }
  /* line 35, scss/style.scss */
  header .header_stuff {
    width: 80%;
    margin: 0 auto; }

/* line 42, scss/style.scss */
#logo {
  width: 1.25em;
  float: left;
  display: block; }

/* line 48, scss/style.scss */
nav {
  float: right;
  margin-top: 1em; }
  /* line 51, scss/style.scss */
  nav li {
    display: inline-block;
    padding-left: 1em;
    font-weight: 700;
    font-family: "proxima-nova",sans-serif;
    text-transform: uppercase; }

/* line 60, scss/style.scss */
#name {
  float: left;
  font-size: 1em;
  font-weight: 700;
  margin-left: 2em;
  margin-top: 1em; }

/* line 70, scss/style.scss */
h1 {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "proxima-nova",sans-serif;
  margin-bottom: .25em; }

/* line 79, scss/style.scss */
h2 {
  text-align: center;
  font-size: 2em; }

/* line 84, scss/style.scss */
.section_title {
  font-family: "proxima-nova",sans-serif;
  text-transform: uppercase;
  color: #2b2b2b;
  font-weight: 100; }

/* line 95, scss/style.scss */
#hero {
  -webkit-box-shadow: black 2px 2px 10px inset;
  -moz-box-shadow: black 2px 2px 10px inset;
  box-shadow: black 2px 2px 10px inset; }
  /* line 98, scss/style.scss */
  #hero img {
    position: relative;
    margin-top: 3em;
    z-index: -1; }

/* line 107, scss/style.scss */
section {
  margin-top: -10px;
  padding-top: 2em;
  padding-bottom: 2em;
  background-image: url("../images/texture/wavegrid.png");
  -webkit-box-shadow: black 8px 0px 20px;
  -moz-box-shadow: black 8px 0px 20px;
  box-shadow: black 8px 0px 20px; }

/* line 115, scss/style.scss */
#stream {
  width: 80%;
  margin: 1em auto 0 auto; }

/* line 121, scss/style.scss */
.superlabel {
  position: relative; }

/* line 125, scss/style.scss */
#admin-login {
  display: none; }

/* line 129, scss/style.scss */
#dcode {
  width: 33%;
  height: 1.75em;
  box-shadow: 3px;
  margin-top: 1em; }

/* line 136, scss/style.scss */
input {
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  color: #808080;
  padding-left: .5em; }

/* line 144, scss/style.scss */
#submit {
  background-color: #474747;
  color: #fff;
  border: none;
  padding: .5em;
  width: 10em;
  border-radius: 6px;
  margin-top: 1em; }
  /* line 152, scss/style.scss */
  #submit:hover {
    background-color: #FEE500;
    color: #000; }
